@model IEnumerable<MemberRec.Models.SubBranch>

@{
    ViewBag.Title = "subranches";
    Layout = null;
}
    <style>
        .panel{
            border-style: solid;
            border-color: black;
            outline-style: solid;
            font-size: large;
            color:aliceblue;
        }
    </style>

 @foreach (var item in Model)
 {
    
            <div class="col-md-4 col-lg-3">
                <div class="panel">
                    <div class="panel-heading" style="background-color:cadetblue;">
                        <h4>@item.SubBranchName</h4>
                    </div>
                    <div class="panel-body" style="background-color:black; color:white;">
                        @item.members.Count()
                    </div>
                </div>
            </div>
     
       
  }


